.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  font-family: cursive, 'Courier New', Courier, monospace;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 3rem;
}

.subHeading {
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
  color: darkgray;
}

.gameWrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}

.tile {
  aspect-ratio: 1;
  height: 5rem;
  font-size: 2rem;
}

.restartBtnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.restartBtn {
  margin-top: 2rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid rgb(0, 120, 80);
  background-color: rgb(0, 120, 80);
  font-weight: 400;
}
